# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários e de cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tmp
*.temp

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de ambiente
.env
.env.local
.env.*.local

# Ignorar build output (caso tenha)
dist/
build/

# Ignorar configurações do IDE
.vscode/
.idea/

# Ignorar dependências de módulos e cache
/.cache
/.pnp
.pnp.js
